#images
src/assets/

# dependencies
/node_modules
/.pnp
.pnp.js
/Backend/node_modules/

controllers/
__pycache__/
*.py[cod]
.venv/
venv/
env/

*.env
*.db
*.sqlite3
*.log
# testing
/coverage

# production
/build
build/
dist/

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
forms_data.txt
download_requests.txt
email_utils.py      
utils.py
test_email.py

npm-debug.log*
yarn-debug.log*
yarn-error.log*
