@tailwind base;
@tailwind components;
@tailwind utilities;



/* Underline Animation */
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  border-radius: 9999px;
  transition: width 0.3s ease-in-out;
}
.hover-underline-animation:hover::after {
  width: 100%;
}
html {
  overscroll-behavior: none;
  scroll-padding-top: 60px; 
}
body {
  overscroll-behavior: none;
}
